extends layout

block content
  if user 

    form(action="/new" method="POST")
      div(class="input-container")
        h2 Write Message 
        input(placeholder="Title" name="title")
        input(placeholder="Text" name="text")
        button(type="submit") Submit

    div(class="message-container")
      div(class="message")
        for message in messages 
          div(class="container")
            img(src=`${message.authorImage}` alt="avatar")
            h2= message.authorUserName

          div(class="content-container")
            h2= message.title 
            p= message.text

        else 
          p No messages

  else 
    div(class="message-container")
      div(class="message")
        for message in messages
          img(src=`${message.authorImage}` alt="avatar")

          div(class="content-container")
            h2= message.title 
            p= message.text

        else 
          p No messages
